

<div class="container">
    <h1 class="my-4">
        My Portfolio
    </h1>
    <!--
    <div class="row">
        
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a target="_blank" href="https://www.upwork.com/o/profiles/users/_~01ab4c970116344602/">
                    <img class="card-img-top" src="/images/upwork.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Upwork
                        </h4>
                        <p class="card-text">
                            <b>5.0</b>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                        </p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a target="_blank" href="https://www.freelancer.com/u/jnewb1">
                    <img class="card-img-top" src="/images/freelancer.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Freelancer
                        </h4>
                        <p class="card-text">
                            <b>5.0</b>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                        </p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a target="_blank" href="https://www.fiverr.com/jnewb1">
                    <img class="card-img-top" src="/images/fiverr.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Fiverr
                        </h4>
                        <p class="card-text">
                            <b>5.0</b>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                            <span style="color:orange;" class="fa fa-star  checked
                                "></span>
                            
                        </p>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    -->
</div>



<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta property='og:title' content='Portfolio' />
  <meta property='og:image' content="https://jnewberry0502.gitlab.io/images/ogimage.png" />
  <meta property='og:description' content='Portfolio for Justin Newberry' />
  <meta property='og:url' content='https://justinnewberry.com/' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Freelance Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="
    /static/vendor/bootstrap/css/bootstrap.min.css" rel=" stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/3-col-portfolio.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131219957-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-131219957-1');
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</head>

<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <!-- Site Label -->
      <div>

        <a class="navbar-brand font-weight-bold" href="/">

          Justin Newberry
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/experience/">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/freelance/">Freelance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resume.pdf">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  

  

  <!-- Page Content -->
  <div class="container">
    




<h1 class="my-4">
    Freelance Projects
</h1>
<div class="row">
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/catscan-converter/">
                <img class="card-img-top" src="/images/cxr-normal.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        CT to PNG Converter
                    </h4>
                    <p class="card-text">A Python scripts to convert a .CT file (Catscan) to a .PNG file.</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/ESP32-WebInterface/">
                <img class="card-img-top" src="/images/esp32.jpeg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        ESP32 Web Interface
                    </h4>
                    <p class="card-text">A web interface for an ESP32 microcontroller project.</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/Windows-File-Links/">
                <img class="card-img-top" src="/images/win10fileapp.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Windows File Linker
                    </h4>
                    <p class="card-text">A windows application which creates links to files that can be changed and clicked on the web interface.</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/Python-AWS-API/">
                <img class="card-img-top" src="/images/boto3.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Python AWS Api Script
                    </h4>
                    <p class="card-text">A Python script to list all instances and location of AWS instances</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/Video-Converter/">
                <img class="card-img-top" src="/images/webmconverter.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Python Video Converter Script
                    </h4>
                    <p class="card-text">A Python script to convert a RTSP stream into a webm stream for viewing on a web interface</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/Mttty-Compilation/">
                <img class="card-img-top" src="/images/mttty.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        MTTTY Program Modifications
                    </h4>
                    <p class="card-text">Compiling and modifying the MTTTY program to run on Windows XP</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/Python-Pinnacle-API/">
                <img class="card-img-top" src="/images/pinnacle.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Python Pinnacle API Script
                    </h4>
                    <p class="card-text">Creating a Python script to interact with the Pinnacle API and save data to a Maria database</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/PHP-Error-Fixes/">
                <img class="card-img-top" src="/images/phperrors.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Fixing PHP Errors
                    </h4>
                    <p class="card-text">Fixing issues with a PHP installation which caused error messages to appear.</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/OpenCV-Environment-Setup/">
                <img class="card-img-top" src="/images/opencv.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        OpenCV Environment Setup
                    </h4>
                    <p class="card-text">Compiling and setting up an OpenCV 4 enviorment with opencv_contrib library.</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/freelance/Wordpress-Error-Fix/">
                <img class="card-img-top" src="/images/wordpress.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Wordpress Error Fix
                    </h4>
                    <p class="card-text">Fixing an error with a Wordpress database which caused the site to be inoperable</p>
                </div>
            </a>
        </div>
    </div>
    
</div>




  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- /.container -->
  </footer>

  

</body>

</html>