 body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .pagination {
    margin-bottom: 15px;
  }

  .divider {
    max-width: 25rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-top: solid 0.1rem;
  }
