{% extends "main-layout.html" %}
{% set layout = "4-col-portfolio" %}

{% block body %}

<h1 class="my-4">
    {% block title %}{% endblock %}
</h1>

{% for panels in groups %}
<h1 class="my-4">
    {{ panels.title }}
</h1>
<div class="row">
    {% for panel in panels.groups %}
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="/{{panels.link_base}}/{{panel.id}}/">
                <img class="card-img-top" src="{{ url_for('images', filename=panel.main_image) }}" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ panel.title }}
                    </h4>
                    <p class="card-text">{{ panel.short }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}


{% endblock %}