{% extends "main-layout.html" %}

{% block body %}

<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
    <p class="text-center w-responsive mx-auto mb-5">Please contact me if you have any questions or requests.</p>
    <form id="contact-me">
        <div class="container">
            <div class="row my-2">
                <div class="col-xl">
                    <label>Contact Information</label>
                    <textarea class="form-control" name="form_contact_information" style="width:100%;" required
                        placeholder="Please include your name and the best method(s) to contact you, including Email, Skype, Phone, etc."></textarea>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-xl">
                    <label>Message</label>
                    <textarea type="text" class="form-control" name="form_message" rows="5" style="width:100%;"
                        required
                        placeholder="Your message"></textarea>
                </div>

            </div>

            <div class="row my-2">
                <div class="col  align-self-center">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">4 + 7 = </div>
                    </div>
                    <input type="number" class="form-control" id="contact-me-captcha" placeholder="Answer">
                  </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col  align-self-center">
                    <button class="btn btn-primary" id="contact-me-submit">Submit</button>
                </div>
            </div>

            <div class="collapse my-2" id="contact-me-success">
                <div class="alert alert-success" role="alert" >
                    Your message has been recieved! Thank you!
                  </div>
            </div>

            <div class="collapse my-2" id="contact-me-failed">
                <div class="alert alert-danger" role="alert" >
                    Your message could not be sent. Please check the captcha.
                  </div>
            </div>
            

        </div>

        </div>

    </form>

</section>

<script>
    function contact_me_success(){
        $("#contact-me-success").collapse('show');
        $("#contact-me-failed").collapse('hide');
    }

    function contact_me_failed(){
        $("#contact-me-success").collapse('hide');
        $("#contact-me-failed").collapse('show');
    }
    var contact_me_submitted = false;
    $(document).ready(function () {
        var $form = $('form#contact-me');
        var url = 'https://script.google.com/macros/s/AKfycbx0zpN8prHCVjUtPqXrf6F0mejCf4HqjDcsWHg0S18nkd2PVzLR/exec';



        $("#contact-me-submit").on('click', function(e) {
            e.preventDefault();
            if($("#contact-me-captcha").val() == 11){
                if(!contact_me_submitted){
                var jqxhr = $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "json",
                    data: $form.serializeArray(),
                    success : function(data) {
                        contact_me_success();
                    }
                })

                contact_me_submitted = true;
            }
            }
            
            else{
                contact_me_failed();
            }
        });
        
    });

</script>


{% endblock %}