{% extends "main-layout.html" %}

{% set layout = "portfolio-item" %}

{% block body %}

<h1 class="my-4">
    {% block title %} {{ title }} {% endblock %}
</h1>

<div class="row">
    {% if main_image is defined %}
    <div class="col-md-8">
        <img class="img-fluid" src="{{ url_for('images', filename=main_image) }}" alt="">
    </div>
    {% endif %}
    <div class="col-md-4">
        <h4 class="my-3">{{ job }}</h4>
        <h5 class="my-3">{{ title }} - {{ location }}</h5>
        <p>{{ description or short }}</p>
        <h5>{{ period }}</h5>
        <h3 class="my-3">Details</h3>
        <ul>
            {% for detail in details %}
            <li>{{ detail }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if additional_images is defined %}
<h3 class="my-4">Additional Media</h3>

<div class="row">
    {% for image in additional_images %}
    <div class="col-md-3 col-sm-6 mb-4">
        <img class="img-fluid" src="{{ url_for('images', filename=image) }}">
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}