{% extends "main-layout.html" %}

{% set layout = "portfolio-item" %}

{% block body %}

<h1 class="my-4">
    {% block title %} {{ title }} {% endblock %}
</h1>

<div class="row">
    {% if main_image is defined %}
    <div class="col-md-8">
        <img class="img-fluid" src="{{ url_for('images', filename=main_image) }}" alt="">
    </div>
    {% endif %}

    <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p>{{ description or short }}</p>

        <h3 class="my-3">Project Details</h3>
        {% if project_url is defined %}
        <h4><a href="{{ project_url}}">Project Page</a></h4>
        {% endif %}
        <ul>
            {% for detail in details %}
            <li>{{ detail }}</li>
            {% endfor %}
        </ul>
        {% if review is defined %}
        <h3 class="my-3">Employer Review</h3>
        <i>{{ review_user }}</i>
        <b>{{ review_stars | round(1)}}</b>
        {% for n in range(5) %}
        <span style="color:orange;" class="fa fa-star star-rating {% if review_stars > n %} checked {% endif %}"></span>
        {% endfor %}
        <br>
        {{ review }}
        {% endif %}

    </div>


</div>

{% if additional_images is defined or additional_videos is defined %}
<h3 class="my-4">Additional Media</h3>
{% endif %}

<div class="row">
    <br>
    {% if additional_images is defined %}
    {% for image in additional_images %}
    <div class="col-md-3 col-sm-6 mb-4">
        <img class="img-fluid" src="{{ url_for('images', filename=image) }}">
    </div>
    {% endfor %}
    {% endif %}

    {% if additional_videos is defined %}
    {% for video in additional_videos %}
    <div class="col-md-6 col-sm-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ video }}"></iframe>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}