{% block top %}

<div class="container">
    <h1 class="my-4">
        My Portfolio
    </h1>
    <!--
    <div class="row">
        {% for profile in profiles %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a target="_blank" href="{{profile.url}}">
                    <img class="card-img-top" src="{{ url_for('images', filename=profile.image) }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{profile.title}}
                        </h4>
                        <p class="card-text">
                            <b>{{ profile.review_stars | round(1)}}</b>
                            {% for n in range(5) %}
                            <span style="color:orange;" class="fa fa-star {% if profile.review_stars > n %} checked
                                {% endif %}"></span>
                            {% endfor %}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    -->
</div>

{% endblock %}

{% include "3-col-layout.html" %}