{% extends "main-layout.html" %}

{% block body %}

<!-- Header Section -->
<div class="text-center">
    <h1 class="font-weight-bold">Justin Newberry</h1>

</div>

<!-- Information Section -->
<div class="row text-center">
    <div class="col-sm">
        <h2>Education</h2>
        <hr class="divider">
        <h3>Computer Science Major</h3>
        <h4>University of Michigan<br>
            Ann Arbor</h4>
        <img class="img-fluid" src="{{ url_for('images', filename='michigan.png') }}" />
    </div>
    <div class="col-sm">
        <h2>About Me</h2>
        <hr class="divider">

        <p>
            I am currently a student at the University of Michigan Ann Arbor,
            pursuing a Bachelor of Computer Science degree, with a Minor in Statistics.

            <div class="text-left" style="display: inline-block;">
                Interests
                <ul>
                    <li>Computer Vision</li>
                    <li>Autonomous Vehicles</li>
                    <li>Software Development</li>
                </ul>
                Hobbies
                <ul>
                    <li>R/C Planes and Vehicles</li>
                    <li>Hobby Robotics</li>
                    <li>Software Projects</li>
                </ul>
            </div>
        </p>
    </div>
    <div class="col-sm">
        <h2>Skills</h2>
        <hr class="divider">
        <p>
            <div class="text-left" style="display: inline-block;">
                Languages and Libraries
                <ul>
                    <li>C++ - STL, OpenCV</li>
                    <li>Python - OpenCV, BS4</li>
                    <li>C# - .NET, Matrox Imaging Library</li>

                </ul>
                Software and Utilities
                <ul>
                    <li>Windows - Visual Studio, MS Office</li>
                    <li>Linux - Ubuntu, VSCode, bash, ssh</li>
                </ul>
            </div>
        </p>
        <h2>Contact</h2>
        <hr class="divider">
        <p>
            <div class="text-left" style="display: inline-block;">
                Email:
                <a class="contact" href="mailto:me@justinnewberry.com">
                    me@justinnewberry.com
                </a>
                <br>
                LinkedIn:
                <a class="contact" href="https://www.linkedin.com/in/justin-newberry/">
                    justin-newberry
                </a>
                <br>
                GitLab:
                <a class="contact" href="https://gitlab.com/jnewberry0502">
                    jnewberry0502
                </a>
            </div>
        </p>
    </div>
</div>


{% endblock %}