<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta property='og:title' content='Portfolio' />
  <meta property='og:image' content="{{ url_for('images', filename='ogimage.png', _external=True) }}" />
  <meta property='og:description' content='Portfolio for Justin Newberry' />
  <meta property='og:url' content='https://justinnewberry.com/' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>{% block title %}{{ page_title }}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="
    {{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel=" stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename= 'css/'~(layout or 'main')~'.css' ) }}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131219957-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-131219957-1');
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


</head>

<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <!-- Site Label -->
      <div>

        <a class="navbar-brand font-weight-bold" href="{{ url_for('index') }}">

          Justin Newberry
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('experiences')}}">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('freelances')}}">Freelance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  {% block top %}

  {% endblock %}

  <!-- Page Content -->
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- /.container -->
  </footer>

  

</body>

</html>